<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>



<body>

<div layout:fragment="content">
    <h1>Staff List</h1>

    <form>
        <p class="h3">Search staff by name:</p>
        <input name="search" type="text">
        <input type="submit" class="btn-box-tool" th:value="Search"/>
    </form>


    <br>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Staff Data Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>BirthDay</th>
                                <th>Sex</th>
                                <th>Phone</th>
                                <th>CMND</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Group</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="st :${staffs}">
                                <tr>
                                    <td th:text="${st.id}"></td>
                                    <td th:text="${st.name}"></td>
                                    <td th:text="${st.birthday}"></td>
                                    <td th:text="${st.sex}"></td>
                                    <td th:text="${st.phone}"></td>
                                    <td th:text="${st.CMND}"></td>
                                    <td th:text="${st.email}"></td>
                                    <td th:text="${st.address}"></td>
                                    <td><a th:text="${st.group.name}"
                                           th:href="@{/view-group/__${st.group.id}__}"/></td>

                                    <td>
                                        <a type="submit" th:href="@{/edit-staff/__${st.id}__ }" class="btn btn-facebook">Edit</a>
                                        <a type="submit" th:href="@{/delete-staff/__${st.id}__ }"
                                           onclick="return confirm('Delete thissss ?????')" class="btn btn-danger">Delete</a>
                                    </td>

                                </tr>
                            </th:block>
                            </tbody>

                        </table>

                        <br>
                        <div >
                            <a th:href="@{'/staffs'(page=${staffs.number - 1})}"
                               th:if="${staffs.hasPrevious()}">Previous</a>
                            <span th:text="${staffs.number + 1}"></span>/<span th:text="${staffs.totalPages}"></span>
                            <a th:href="@{'/staffs'(page=${staffs.number + 1})}" th:if="${staffs.hasNext()}">Next</a>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->


                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>
</body>
</html>